<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                People have referred to James and Valentine as "the greatest couple in the history of time".
                They have also called them "a power couple the likes of which the world has never before seen".

            </p>
            <p>
                Despite their self-proclaimed greatness, James and Valentine have a pretty typical story. They met working together.
                James was blown away by Valentine's passion and thirst for adventure.
                Valentine thought James was alright looking and a pretty good programmer.
                It did take years, but somehow he managed to woo her into considering him as a partner, and the rest has been history.
            </p>
        </div>
    </div>
</div>
